.container {
  transition: cubic-bezier(1, 0, 0, 1) 0.2s;
}
.background {
  display: flex;
  justify-content: center;
  position: fixed;
  overflow: auto;
  background: #001819;
  background: radial-gradient(
    circle,
    rgba(0, 24, 25, 1) 100%,
    rgba(0, 37, 46, 1) 0%
  );
  width: 100vw;
  height: 100vh;
}
.background::after {
  content: '';
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 90px);
  filter: blur(10px);
  mix-blend-mode: lighten;
  background-color: #001819;
  background-image: radial-gradient(
      at 8% 92%,
      hsla(183, 100%, 5%, 1) 0,
      transparent 86%
    ),
    radial-gradient(
      circle at 35% 33%,
      hsla(193, 91%, 48%, 1) 0,
      transparent 41%
    ),
    radial-gradient(circle at 87% 4%, hsla(0, 0%, 0%, 1) 0, transparent 28%),
    radial-gradient(
      circle at 60% 38%,
      hsla(206, 87%, 45%, 1) 0,
      transparent 57%
    ),
    radial-gradient(
      circle at 28% 67%,
      hsla(199, 88%, 16%, 1) 0,
      transparent 45%
    ),
    radial-gradient(
      circle at 70% 75%,
      hsla(180, 100%, 89%, 1) 0,
      transparent 41%
    );
}
.fancyBorderBox {
  z-index: -1;
  position: absolute;
  margin-bottom: 90px;
  fill: rgba(0, 30, 40, 0.85);
  stroke: #97ebff;
  stroke-width: 0.25;
  width: 90%;
  max-width: 350px;
}
.fancyBorder {
  fill: none !important;
}
.container {
  display: flex;
  justify-content: center;
  z-index: 1;
  color: white;
  width: 90%;
  max-width: 350px;
  margin-top: 50px;
}
.title,
.subTitle {
  text-align: center;
}
.title {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: -0.5rem;
}
.subTitle {
  font-size: 1.5rem;
}
.content {
  width: calc(100% - 45px);
  margin-top: 7%;
  overflow-y: scroll;
  scrollbar-color: #97ebff transparent;
  scrollbar-width: thin;
}
.test {
  border: 1px solid cyan;
}
svg .complete .inner,
.ring .inner {
  fill: #1886a0;
}
svg .complete .outer,
.ring .outer {
  fill: #45ffff;
}
svg .incomplete {
  fill: #0a5b6d;
  opacity: 0.55;
}

/* @media screen and (orientation: landscape) {
  .container {
    clip-path: polygon(0% 0%, 95% 0%, 100% 5%, 100% 100%, 5% 100%, 0% 95%);
  }
} */
