@import url('https://use.typekit.net/fep8jgi.css');

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: alwyn-new-web, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: alwyn-new-web, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.d-flex {
  display: flex;
}
.vertical-center {
  align-items: center;
}
